.hidden {
    background-color: #60606e;
    height: 200px;
    position: absolute;
    top: 20px;
    left: -150px;
    display: none;
}

a {
    text-decoration: none;
    font-family: "Open Sans";
    font-size: 14px;
    color: #9a9a9a;
    padding-right: 15px;
    &:hover {
        transform: scale(1.02);
        color: #7beec7;
        text-decoration: underline;
        transition: all .3s linear;
    }
}

#popUp {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header {
    background: url(../img/background.png);
    background-position: center;
    background-size: cover;
    max-height: 810px;
    color: #60606e;
    font-family: 'Montserrat', sans-serif;
    .header__menu {
        padding-top: 45px;
        .header__title {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
        }
        .menu__icon {
            width: 19px;
            height: 1px;
            background-color: #60606e;
            position: relative;
            cursor: pointer;
            &::after {
                content: "";
                display: block;
                width: 26px;
                height: 1px;
                background-color: #60606e;
                position: absolute;
                bottom: 7px;
            }
            &::before {
                content: "";
                display: block;
                width: 23px;
                height: 1px;
                background-color: #60606e;
                position: absolute;
                top: 7px;
            }
        }
    }
    .heder__were {
        font-size: 18px;
        font-weight: 700;
        background: #7beec7;
        width: 100px;
        height: 30px;
        text-align: center;
        padding-top: 3px;
    }
    .header__agency {
        font-size: 48px;
        font-weight: 700;
        border: #60606e 10px solid;
        text-align: center;
    }
    .header__text {
        font-size: 16px;
        font-family: 'Open Sans', sans-serif;
        text-align: center;
        line-height: 1.6;
        padding-top: 30px;
    }
    .header__container {
        padding-top: 170px;
    }
    .header__container_two {
        padding-top: 90px;
        .header__history {
            padding-top: 20px;
            p {
                font-family: 'Open Sans', sans-serif;
                font-size: 16px;
                line-height: 1.8;
            }
            button {
                margin-left: 70%;
            }
        }
    }
    .header__choose {
        padding: 150px 0 100px;
        margin: 0 auto;
        p {
            text-align: center;
        }
    }
    .header__items {
        h2 {
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 700;
            padding: 25px 0 0;
        }
        .h2Mod {
            padding-top: 20px;
        }
    }
    .header__why_pad {
        padding-top: 100px;
    }
    .workTogether {
        min-height: 330px;
        background: #7beec7;
        background-size: cover;
        p {
            font-size: 30px;
            font-weight: 700;
            color: #fff;
        }
    }
    .formContainer {
        background-color: #fff;
        p {
            color: #60606e;
            font-size: 24px;
            font-weight: 700;
        }
        .lorem {
            font-family: 'Open Sans', sans-serif;
            font-size: 16px;
            font-weight: 400;
            opacity: 0.5;
        }
        .form-input {
            height: 50px;
            border: 1px solid rgba(0, 0, 0, 0.2);
            padding: 5px;
            width: 370px;
            margin: 0 0 8px;
        }
        .btnMod {
            padding: 0;
            border-radius: 0;
        }
    }
    .btnPad {
        margin-bottom: 30px;
    }
}

.btn1 {
    text-transform: uppercase;
    background-color: #fff;
    color: #10faac;
    font-weight: 700;
    font-size: 14px;
    width: 160px;
    height: 50px;
    border: none;
    &:hover {
        background: #10faac;
        color: #fff;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        transition: all 0.3s linear;
    }
}

 ::-webkit-input-placeholder {
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5 !important;
}

h1 {
    position: relative;
    font-weight: 700;
    font-size: 30px;
    z-index: 10;
    &::after {
        content: '';
        display: block;
        position: absolute;
        width: 65px;
        height: 20px;
        background: #7beec7;
        top: 15px;
        left: 0;
        z-index: -1;
    }
}

.btn {
    width: 165px;
    height: 50px;
    border: none;
    background: #7beec7;
    font-size: 14px;
    color: #fff;
    font-weight: 700;
    &:hover {
        background: rgb(235, 231, 231);
        color: #10faac;
        border-radius: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
        transition: all 0.3s linear;
    }
}

.portfolio {
    font-weight: 700;
    font-size: 14px;
    h2 {
        font-weight: 700;
        font-size: 30px;
        line-height: 1.7;
        padding-bottom: 100px;
    }
    .portfolio_menu {
        width: 70px;
        text-align: center;
    }
    p {
        &:hover {
            background: #7beec7;
            color: #fff;
            cursor: pointer;
        }
    }
    .img {
        margin-bottom: 30px;
        padding: 0;
    }
    .img1 {
        margin-bottom: 26px;
        padding: 0;
    }
}

.footer {
    font-family: "Open Sans";
    font-size: 14px;
    color: #9a9a9a;
    min-height: 150px;
}

p {
    text-transform: uppercase;
}

.unactive {
    display: none;
    padding-left: 40px;
}

.active {
    display: block;
}

@media screen and (max-width: 576px) {
    .header {
        .header__agency {
            font-size: 32px;
        }
    }
    .header .header__items {
        justify-content: center;
    }
}

@media screen and (max-width: 1200px) {
    .header {
        .header__container_two {
            .header__history {
                button {
                    margin-left: 30%;
                }
            }
        }
    }
}

@media screen and (max-width: 400px) {
    .header {
        .header__container_two {
            .header__history {
                button {
                    margin-left: 12%;
                }
            }
        }
        .portfolio {
            h2 {
                padding-bottom: 30px;
            }
        }
        .absolute {
            text-align: center;
        }
        .btnMod,
        .btnPad {
            margin-left: 20px;
        }
    }
}